<div class="mt-5 d-flex justify-content-center container">
    <div class="card p-4 m-5">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email">Usuário</label>

                <input formControlName="username" type="text" id="email" class="form-control">

                <div class="form-group">
                    <label for="senha">Senha</label>
                    <div class="input-group">
                        <input formControlName="password" [type]="showPassword ? 'text' : 'password'" id="senha" class="form-control">
                        <button (click)="onTogglePasswordView()" type="button" class="input-group-addon">
                            <span *ngIf="!showPassword">Exibir senha</span>
                            <span *ngIf="showPassword">Cobrir senha</span>
                        </button>
                    </div>
                </div>

                <div class="form-group mt-4">
                    <button class="btn btn-success" type="submit" class="form-control" *ngIf="!isLoading">Login</button>
                    <button class="btn btn-success" type="button" class="form-control" *ngIf="isLoading" disabled>Carregando...</button>
                </div>
            </div>
        </form>
    </div>
</div>