<div class="container">
    <h1>Visualizar pagamento</h1>

    <a href="#" routerLink="/payment/list" class="btn btn-primary">Back</a>

    <div>
        <strong>Usuário:</strong>
        <p>{{ payment.username }}</p>
    </div>

    <div>
        <strong>Título:</strong>
        <p>{{ payment.title }}</p>
    </div>

    <div>
        <strong>Data:</strong>
        <p>{{ payment.date }}</p>
    </div>

    <div>
        <strong>Valor:</strong>
        <p>{{ payment.value }}</p>
    </div>

    <div>
        <strong>Pago:</strong>
        <p>{{ payment.isPayed }}</p>
    </div>
</div>