<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="login d-flex justify-content-center align-items-center">

    <div class="card p-3">

        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <label for="email">E-mail</label>

                <input formControlName="username" type="text" id="email" class="form-control">

                <div class="form-group">
                    <label for="senha">Senha</label>
                    <div class="form-group">
                        <input formControlName="password" [type]="password" id="senha" class="form-control">
                        <button (click)="onTogglePasswordView()" type="button">
                            <i class="fa fa-eye" aria-hidden="true" *ngIf="!show"></i>
                            <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
                        </button>
                    </div>
                </div>

                <div class="form-group">

                    <button class="btn btn-success" type="submit" class="form-control">Login</button>

                </div>
            </div>
        </form>
    </div>
</div>