<div class="container">
  <h1>Lista de pagamento</h1>

  <div class="row"> 
    <div class="col">
      <a href="#" routerLink="/payment/create/" class="btn btn-success">Criar novo pagamento</a>
    </div>
  
    <div class="input-group mb-3 col">
      <input type="text" class="form-control" placeholder="Insira um texto aqui...">
      <button type="button" class="input-group-text">Pesquisar</button>
    </div>
  </div>

  <p *ngIf="!payments || payments.length <= 0" class="mt-2">Não há pagamentos para mostrar</p>

  <table class="table table-striped mt-2" *ngIf="payments && payments.length > 0">
    <thead>
      <tr>
        <th>Usuário</th>
        <th>Título</th>
        <th>Data</th>
        <th>Valor</th>
        <th>Pago</th>
        <th width="250px">Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let payment of payments">
        <td>{{ payment.firstName }}</td>
        <td>{{ payment.title }}</td>
        <td>{{ payment.date }}</td>
        <td>R$ {{ payment.value }}</td>
        <td>{{ payment.isPayed ? 'Sim' : 'Não'}}</td>
        <td>
          <a href="#" [routerLink]="['/payment/', payment._id, 'view']" class="btn btn-info ml-2">Visualizar</a>
          <a href="#" [routerLink]="['/payment/', payment._id, 'edit']" class="btn btn-primary ml-2">Editar</a>
          <button type="button" (click)="deletePayment(payment._id)" class="btn btn-danger ml-2">Deletar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>