<div class="container">
    <h1>Payment List</h1>

    <a href="#" routerLink="/payment/create/" class="btn btn-success">Create New Payment</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Usuário</th>
                <th>Título</th>
                <th>Data</th>
                <th>Valor</th>
                <th>Pago</th>
                <th width="250px">Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let payment of payments">
                <td>{{ payment.firstName }}</td>
                <td>{{ payment.title }}</td>
                <td>{{ payment.date }}</td>
                <td>{{ payment.value }}</td>
                <td>{{ payment.isPayed }}</td>
                <td>
                    <a href="#" [routerLink]="['/payment/', payment._id, 'view']" class="btn btn-info">View</a>
                    <a href="#" [routerLink]="['/payment/', payment._id, 'edit']" class="btn btn-primary">Edit</a>
                    <button type="button" (click)="deletePayment(payment._id)" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>